data/H3K27ac/bam/H3K27AC_ctrl_MCF7_ENCFF506VER.bai
data/H3K27ac/bam/H3K27AC_ctrl_MCF7_ENCFF506VER.bam
data/H3K27ac/bam/H3K27ac_obs_MCF7_ENCFF355TOT.bai
data/H3K27ac/bam/H3K27ac_obs_MCF7_ENCFF355TOT.bam
data/H3K27ac/bigwig/H3K27ac_pvalue_MCF7_ENCFF353CZO.bigWig
data/H3K27me3/bam/H3K27me3_ctrl_MCF7_ENCFF433BQD.bai
data/H3K27me3/bam/H3K27me3_ctrl_MCF7_ENCFF433BQD.bam
data/H3K27me3/bam/H3K27me3_obs_MCF7_ENCFF351EJX.bai
data/H3K27me3/bam/H3K27me3_obs_MCF7_ENCFF351EJX.bam
data/H3K27me3/bigwig/H3K27me3_pvalue_MCF7_ENCFF195CGX.bigWig
data/H3K27ac/bed/H3K27AC_IDR_peak_ENCFF340KSH.bed
data/H3K27me3/bed/ENCFF677ITZ.bed.gz
data/H3K27me3/bed/H3K27me3_peak_MCF7_rep2_ENCFF677ITZ.bed
data/CTCF/bam/CTCF_ctrl_MCF7_ENCFF806IOU.bai
data/CTCF/bam/CTCF_ctrl_MCF7_ENCFF806IOU.bam
.gitignore
data/CTCF/bam/CTCF_obs_MCF7_ENCFF340FIT.bai
data/CTCF/bam/CTCF_obs_MCF7_ENCFF340FIT.bam
data/CTCF/bed/CTCF_peak_MCF7_rep2_ENCFF613LWE.bed
.gitignore
data/CTCF/bed/ENCFF613LWE.bed.gz
data/CTCF/bigwig/CTCF_pvalue_MCF7_ENCFF767VZW.bigWig
data/CHD1/bam/CHD1_ctrl_MCF7_ENCFF612QJN.bai
.gitignore
.gitignore
data/CHD1/bam/CHD1_ctrl_MCF7_ENCFF612QJN.bam
data/CHD1/bam/CHD1_obs_MCF7_ENCFF308MMO.bai
.gitignore
data/CHD1/bam/CHD1_obs_MCF7_ENCFF308MMO.bam
data/CHD1/bed/CHD1_peak_MCF7_rep1_ENCFF993MCI.bed
data/CHD1/bigwig/CHD1_pvalue_MCF7_ENCFF029GUY.bigWig
data/CTCF/bam/CTCF_obs_MCF7_ENCFF623IZG.bai
data/CTCF/bam/CTCF_obs_MCF7_ENCFF623IZG.bam
data/CTCF/bed/CTCF_peak_MCF7_rep1_ENCFF167NKR.bed
data/CTCF/bed/ENCFF167NKR.bed.gz
data/CTCF/UniBind_search_ce4dfog9/ENCSR000DWH.MCF7_Invasive_ductal_breast_carcinoma.CTCF.MA0139.1.damo.bed
data/CTCF/UniBind_search_ce4dfog9/metadata.tsv
data/CTCF/UniBind_search_ce4dfog9/UniBind -    CTCF - TFBS.csv
notes/presentation/jacob_prz.pdf
data/H3K27me3/bam/H3K27me3_obs_MCF7_rep1_ENCFF519ABK.bai
.gitignore
data/H3K27me3/bam/H3K27me3_obs_MCF7_rep1_ENCFF519ABK.bam
data/H3K27me3/bam/H3K27me3_obs_MCF7_rep2_ENCFF351EJX.bai
.gitignore
data/H3K27me3/bam/H3K27me3_obs_MCF7_rep2_ENCFF351EJX.bam
data/H3K27me3/bed/ENCFF035BIQ.bed.gz
data/H3K27me3/bed/H3K27me3_peak_MCF7_rep1_ENCFF035BIQ.bed
data/H3K27ac/bam/H3K27ac_obs_MCF7_ENCFF422VIN.bam
data/H3K27ac/bam/H3K27ac_obs_MCF7_ENCFF422VIN.bai
TFHclust/data/POLR2A/ENCFF343QJV.bai
TFHclust/data/POLR2A/ENCFF343QJV.bam
TFHclust/data/POLR2A/ENCFF386OKF.bai
TFHclust/data/POLR2A/ENCFF386OKF.bam
TFHclust/data/POLR2A/ENCFF390WNV.bai
TFHclust/data/POLR2A/ENCFF390WNV.bam
TFHclust/data/POLR2A/ctrl/ENCFF062SCH.bai
TFHclust/data/POLR2A/ctrl/ENCFF062SCH.bam
TFHclust/pixi.lock
TFHclust/pixi.toml
.vscode/settings.json
